:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #bad0ff;
}

.header {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 36px 200px;
  color: #fff;
}

.multi-line-header {
  padding: 14px 200px;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(#16096b87, #16096b87), url('https://upload.wikimedia.org/wikipedia/commons/9/9b/US_Flag_Backlit.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

h1 {
  margin: 0;
  font-size: 4rem;
  line-height: 3.6rem;
  font-weight: 800;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 22px;
  font-size: 0.7rem;
  color: #bad0ff;
}

.attribution a {
  color: #bad0ff;
}

.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100% - 16px);
  padding: 8px;
  justify-content: space-evenly;
  background-color: #08003cc7;
  backdrop-filter: blur(10px);
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.navbar a:hover {
  color: #bad0ff;
}

.content {
  padding: 20px;
}

.banner {
  background-color: #403ea4;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.banner a, .footer a {
  color: #bad0ff;
}

.banner a:hover, .footer a:hover {
  color: #fff;
}

.footer {
  padding: 10px;
  background-color: #2f2e67;
  text-align: center;
  font-size: 0.9rem;
  color: #bad0ff;
}

.button {
  background-color: #e81515;
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  transition: background-color 0.1s !important;
}

.button:hover {
  color: #fff !important;
  background-color: #f46262;
}

h2 {
  text-align: center;
  font-size: 2.3rem;
}

h3 {
  text-align: center;
  font-size: 1.7rem;
}

p.small {
  font-size: 0.85rem;
}

a {
  color: #403ea4;
  transition: color 0.2s;
}

a:hover {
  color: #000;
}

img {
  border-radius: 5px;
}

.text-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}

.hero {
  background-color: #1c6585;
  background-image: url('');
  background-size: 120%;
  background-position: left;
  height: calc(100vh - 250px);
  padding: 0 10px;
  border-radius: 5px;
}

.hero h1 {
  padding-top: calc(100vh - 400px);
  color: #fff;
  font-size: 3.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.card-link {
  text-decoration: none;
}

.card {
  min-height: 150px;
  padding: 20px;
  border-radius: 5px;
  background-color: #2f2e67;
  transition: background-color 0.2s;
}

.card:hover {
  background-color: #403ea4;
}

.card-top {
  margin: 0 0 10px 0;
  color: #bad0ff;
}

.card h3 {
  margin: 0;
  color: #fff;
  text-align: left;
}

.card p:not(.card-top) {
  margin-bottom: 0;
  color: #fff;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popup {
  display: none;
  position: fixed;
  max-width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 15px 20px 30px 20px;
  border-radius: 10px;
  background-color: #2f2e67;
  color: #fff;
}

#popup h3 {
  margin: 0 0 10px 0;
}

#popup p {
  margin: 0 0 20px 0;
}

#popup .button {
  display: block;
  width: fit-content;
  margin: 0 auto;
}